.has-rig{
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}
.canvas{
	border: 1px solid #e7e7e7;
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
	width: 80px;
	height: 80px;
}
.is-very-small{
	font-size: 1.4pt !important;
	letter-spacing: 1px;
}
#binary, #outputData{
	height: 150px;
}
.my-box{
	border: 1px solid #e7e7e7;	
	padding: 20px
}
/* #citraBiner{
	width: 200px !important;
	height: 200px !important;
} */