.has-rig{
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}
.canvas{
	border: 1px solid #e7e7e7;
}
.is-very-small{
	font-size: 1pt !important;
}
#binary{
	height: 100px;
}
.my-box{
	border: 1px solid #e7e7e7;	
	padding: 20px
}